.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}



.text-center{
    text-align: center;
    margin: 1.25rem 0;
    border-bottom: 1px solid #dadada;
    padding: 1.25rem 0;
}
.radio label input {
    font-size: 100%;
}
.radio-choices {
    font-size: 18px;
}
input[type='radio'] {
    width: auto;
    height: 1.4em;
}
.radio-choices .radio:nth-of-type(even) {
    background: #effafa;
}
.radio-choices .radio-left {
    margin-right: 0;
    padding-right: 0;
}
.radio-choices .radio-right {
    margin-left: 0;
    padding-left: 0;
}
/* media queries specific to alignment of forms 
   not using form-group Bootstrap to save space
   so we compensate - some phones looked odd so
   check before deployment
 */
@media screen and (max-width: 540px) {
    .radio {
        margin-left: 1rem;
        font-size: 1.25rem;
    }
    .radio-choices .radio-left {
        float: left;
        margin-left: -10px;
        padding-left: 0;
    }
    .radio-choices .radio-right {
        float: right;
        margin-right: -10px;
        padding-right: 0;
    }
}
